#root {
  max-width: 425px;
  margin: 0 auto;
  text-align: center;
  border-style: solid;
  border-color: black;
}

img {
  max-width: 92%;
}

input {
  width: 90%;
  margin: 5px;
}

button {
  margin: 5px;
}